# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
venv

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.idea

# Home Assistant configuration
.test/config/*
!.test/configuration.yaml

# macOS
.DS_Store
