# artifacts
__pycache__
.pytest*
/.pytest_cache/
*.egg-info
*/build/*
*/dist/*
venv
# artifacts
__pycache__
.pytest*
/pytest_cache/
*.egg-info
/build/*
/dist/*
venv

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.ruff_cache/
.idea

# Home Assistant configuration
DEVELOPMENT_NOTES.md
.test/config/*
!.test/configuration.yaml

DEPLOYMENT_CONFIG.sh

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.ruff_cache/
.idea

# Home Assistant configuration
.test/config/*
!.test/configuration.yaml

# macOS
.DS_Store
