playwright>=1.44.0
crawl4ai
colorlog==6.8.2

pip>=21.3.1
ruff==0.7.3
beautifulsoup4==4.12.3
aiohttp
fake-useragent==1.5.1
requests~=2.32.3
voluptuous~=0.15.2
pytest-socket==0.7.0
pytest~=8.3.3
selenium>=4.17.0
webdriver-manager>=4.0.0
cloudscraper>=1.2.71
httpx>=0.21.0
undetected-chromedriver>=3.5.5
aiosocks>=0.2.6
dependency-injector>=4.43.0
opentelemetry-api>=1.28.2
opentelemetry-sdk>=1.28.2
curl-cffi>=0.7.4
pytest-asyncio
PyExecJS
nextjs-hydration-parser # For parsing Next.js hydration data
